@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.swal2-modal {
  border-radius: 0 !important;
  font-family: 'Poppins', sans-serif !important;
}

.swal2-modal .swal2-title {
  font-weight: normal !important;
}

.swal2-modal .swal2-confirm {
  background-color: #053d4e !important;
  border: 1px solid #053d4e !important;
  border-radius: 0 !important;
}

.breadcrumb {
  border-radius: 0;
  padding: 15px;
  font-size: 15px;
}

.painel {
  width: 100%;
  padding: 15px 15px 25px;
  background-color: #fff;
}

.painel.fullheight {
  max-height: 465px;
  min-height: 465px;
  overflow-y: auto;
}

.painel h2 {
  color: #444;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.painel table {
  margin: 0 auto;
  border-left: none;
  border-right: none;
}

.painel table thead {
  margin-bottom: 25px;
}

.painel table thead tr {
  background-color: #053d4e !important;
}

.painel table thead tr th {
  color: white;
  border: 1px solid #053d4e;
  padding: 20px 45px;
  font-size: 15px;
  text-transform: uppercase;
}

.painel table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.painel table tr td {
  border-left: none;
  border-right: none;
  padding: 15px 45px;
  border-top: 0;
}

.painel table .btn-success {
  background-color: #053d4e;
  border: 1px solid #053d4e;
  width: 20px;
  height: 20px;
  padding: 0;
}

.painel table .btn-success:hover {
  background-color: #1e5160;
  border-color: #1e5160;
}

.painel table .btn-danger {
  background-color: #e53942;
  border: 1px solid #e53942;
  width: 20px;
  height: 20px;
  padding: 0;
}

.painel table .btn-danger:hover {
  background-color: #e84d55;
  border-color: #e84d55;
}

.painel form {
  padding: 0px;
  margin-bottom: 25px;
}

.painel form .input-form {
  width: 100%;
  background-color: white;
  border: 1px solid #d9d9d9;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 18px;
}

.painel form .input-form:disabled {
  background-color: #d9d9d9;
}

.painel form .input-form.error {
  border: 1px solid red;
}

.painel form .input-form:focus {
  outline: none;
}

.painel form .check-group label {
  margin-bottom: 1px;
}

.painel form .check-group label.inativa {
  display: none;
}

.painel form .check-group .btn-success,
.painel form .check-group .btn-default,
.painel form .check-group .btn-danger {
  border-radius: 0;
}

.painel form .btn-group:focus {
  outline: none;
}

.painel form .wrap-buttons {
  width: 100%;
}

.painel form .wrap-buttons .btn-sucesso {
  width: 49%;
  background-color: #053d4e;
  border: 1px solid #053d4e;
  padding: 10px 0;
  color: white;
}

.painel form .wrap-buttons .btn-sucesso:hover {
  background-color: #1e5160;
  border-color: #1e5160;
}

.painel form .wrap-buttons .btn-atencao {
  width: 49%;
  background-color: #e53942;
  border: 1px solid #e53942;
  padding: 10px 0;
  color: white;
}

.painel form .wrap-buttons .btn-atencao:hover {
  background-color: #e84d55;
  border-color: #e84d55;
}

.painel form .btn-success {
  background-color: #053d4e;
  border: 1px solid #053d4e;
}

.painel form .btn-success:hover {
  background-color: #1e5160;
  border-color: #1e5160;
}

.painel form .btn-danger {
  background-color: #e53942;
  border: 1px solid #e53942;
}

.painel form .btn-danger:hover {
  background-color: #e84d55;
  border-color: #e84d55;
}

.painel form.form-search .input-group .input-form {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

.painel form.form-search .input-group .input-form:focus {
  outline: none;
}

.painel form.form-search .input-group .btn-sucesso {
  background-color: #053d4e;
  border: 1px solid #053d4e;
  vertical-align: middle;
  color: white;
  display: inline-block;
  width: 10%;
  padding: 8px 0;
}

.painel form.form-search .input-group .btn-sucesso:hover {
  background-color: #1e5160;
  border-color: #1e5160;
}

