a {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.cbp-spmenu-vertical {
  background-color: #222;
  margin-top: -2px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.cbp-spmenu-vertical ul li {
  margin-top: 10px;
}

.cbp-spmenu-vertical ul li a:focus {
  color: white;
}

.cbp-spmenu-vertical ul li a:hover {
  color: white !important;
}

.cbp-spmenu-vertical ul li a.active {
  color: white !important;
}

.cbp-spmenu-vertical ul li.active a .fa {
  color: white !important;
}

.header-section {
  line-height: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#d92555), to(#e53942));
  background: linear-gradient(#d92555, #e53942);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-right {
  width: 60%;
}

.header-right ul {
  float: right;
}

.header-right ul .dropdown-toggle {
  color: white;
}

.header-right ul .dropdown-toggle:focus {
  text-decoration: none;
}

.header-right ul .dropdown-menu.anti-dropdown-menu {
  left: -75px;
}

#showLeftPush {
  float: right;
}

.logo {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#d92555), to(#e53942));
  background: linear-gradient(#d92555, #e53942);
  height: 100%;
}

.logo .logo-menu {
  width: 125px;
  margin-top: -8px;
}

.four-grids {
  padding: 50px 15px;
}

.four-grids .four-grid1 {
  background: #053d4e;
}

.four-grids .four-grid2 {
  background-color: #053d4e;
}

.four-grids .four-grid3 {
  background-color: #053d4e;
}

.four-grids .four-grid4 {
  background-color: #053d4e;
}

.four-grids .four-grid .glyphicon-briefcase {
  background-color: #053d4e;
}

.four-grids .four-grid .glyphicon-user {
  background: #053d4e;
}

.four-grids .four-grid .glyphicon-book {
  background-color: #053d4e;
}

.four-grids .four-grid .glyphicon-pencil {
  background-color: #053d4e;
}

.four-grids .four-grid h4 {
  font-size: 25px;
}

.grid-table {
  background-color: #fff;
  padding: 25px;
  margin: 25px 0;
  width: 100%;
}

.grid-table h3 {
  width: 30%;
  display: inline-block;
  margin-bottom: 25px;
}

.grid-table select {
  width: 30%;
  display: inline-block;
  float: right;
  border: 0;
  background: #fff;
  border: 1px solid #e7e7e7;
  height: 30px;
  padding: 0 10px;
  color: #333;
}

.grid-table select option:disabled {
  font-weight: bold;
  color: #222;
}

.grid-table .bottom-table {
  padding: 0;
  margin: 0;
}

.grid-table .bottom-table .btn-interact-table {
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 14px;
  margin-top: -5px;
}

.copy-section p {
  color: #333;
}

