
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(50px);
  opacity: 0;
}
body {
  font-family: 'Poppins', sans-serif !important;
}
.swal2-modal {
  border-radius: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  .swal2-title {
    font-weight: normal !important;
  }
  .swal2-confirm {
    background-color: #053d4e !important;
    border: 1px solid #053d4e !important;
    border-radius: 0 !important;
  }
}

.breadcrumb {
  border-radius: 0;
  // background-color: white;
  padding: 15px;
  font-size: 15px;
}

.painel {

  width: 100%;
  padding: 15px 15px 25px;
  background-color: #fff;

  &.fullheight {
    max-height: 465px;
    min-height: 465px;
    overflow-y: auto;
  }

  h2 {
    color: #444;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  table {
    margin: 0 auto;
    border-left: none;
    border-right: none;

    thead {
      margin-bottom: 25px;
      tr {
        background-color: #053d4e !important;
        th {
          color: white;
          border: 1px solid #053d4e;
          padding: 20px 45px;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }

    tr:nth-child(odd) {
      background-color: #f8f8f8;
    }

    tr td {
      border-left: none;
      border-right: none;
      padding: 15px 45px;
      border-top: 0;
    }

    .btn-success {
      background-color: #053d4e;
      border: 1px solid #053d4e;
      width: 20px;
      height: 20px;
      padding: 0;
      &:hover {
        background-color: #1e5160;
        border-color: #1e5160;
      }
    }

    .btn-danger {
      background-color: #e53942;
      border: 1px solid #e53942;
      width: 20px;
      height: 20px;
      padding: 0;
      &:hover {
        background-color: #e84d55;
        border-color: #e84d55;
      }
    }
  }

  form {
    padding: 0px;
    margin-bottom: 25px;

    .input-form {
      width: 100%;
      background-color: white;
      border: 1px solid #d9d9d9;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      font-size: 18px;

      &:disabled {
        background-color: #d9d9d9;
      }
      &.error {
        border: 1px solid red;
      }
      &:focus {
        outline: none;
      }
    }

    .check-group {
      label {
        margin-bottom: 1px;
        &.inativa {
          display: none;
        }
      }
      .btn-success, .btn-default, .btn-danger {
        border-radius: 0;
      }
    }

    .btn-group:focus {
      outline: none;
    }

    .wrap-buttons {
      width: 100%;

      .btn-sucesso {
        width: 49%;
        background-color: #053d4e;
        border: 1px solid #053d4e;
        padding: 10px 0;
        color: white;
        &:hover {
          background-color: #1e5160;
          border-color: #1e5160;
        }
      }

      .btn-atencao {
        width: 49%;
        background-color: #e53942;
        border: 1px solid #e53942;
        padding: 10px 0;
        color: white;
        &:hover {
          background-color: #e84d55;
          border-color: #e84d55;
        }
      }
    }

    .btn-success {
      background-color: #053d4e;
      border: 1px solid #053d4e;
      &:hover {
        background-color: #1e5160;
        border-color: #1e5160;
      }
    }

    .btn-danger {
      background-color: #e53942;
      border: 1px solid #e53942;
      &:hover {
        background-color: #e84d55;
        border-color: #e84d55;
      }
    }
    &.form-search {
      .input-group {
        .input-form {
          width: 90%;
          display: inline-block;
          vertical-align: middle;
          &:focus {
            outline: none;
          }
        }
        .btn-sucesso {
          background-color: #053d4e;
          border: 1px solid #053d4e;
          vertical-align: middle;
          color: white;
          display: inline-block;
          width: 10%;
          padding: 8px 0;
          &:hover {
            background-color: #1e5160;
            border-color: #1e5160;
          }
        }
      }
    }
  }
}

