a {
  color: #333;

  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.cbp-spmenu-vertical {
  background-color: #222;
  margin-top: -2px;
  animation-duration: 1s;

  ul {
    li {
      margin-top: 10px;
      a:focus {
        color: white;
      }
      a:hover {
        color: white !important;
      }
      a.active {
        color: white !important;
      }

      &.active a .fa {
        color: white !important;
      }
    }
  }
}

.header-section {
  line-height: normal;
  background: linear-gradient(#d92555, #e53942);
  // background: #e53942;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.header-right {
  width: 60%;

  ul {
    float: right;
    .dropdown-toggle {
      color: white;
      &:focus {
        text-decoration: none;
      }
    }
    .dropdown-menu.anti-dropdown-menu {
      left: -75px;
    }
  }
}

#showLeftPush {
  float: right;
}

.logo {
  border: none;
  background: linear-gradient(#d92555, #e53942);
  // background: #e53942;
  height: 100%;
  .logo-menu {
    width: 125px;
    margin-top: -8px;
  }
}
.four-grids {
  padding: 50px 15px;
  .four-grid1 {
    background: #053d4e;
  }
  .four-grid2 {
    background-color: #053d4e;
  }
  .four-grid3 {
    background-color: #053d4e;
  }
  .four-grid4 {
    background-color: #053d4e;
  }
  .four-grid {
    .glyphicon-briefcase {
      background-color: #053d4e;
    }

    .glyphicon-user {
      background: #053d4e;
    }
    .glyphicon-book {
      background-color: #053d4e;
    }
    .glyphicon-pencil {
      background-color: #053d4e;
    }
    h4 {
      font-size: 25px;
    }
  }
}

.grid-table {
  background-color: #fff;
  padding: 25px;
  margin: 25px 0;
  width: 100%;

  h3 {
    width: 30%;
    display: inline-block;
    margin-bottom: 25px;
  }

  select {
    width: 30%;
    display: inline-block;
    float: right;
    border: 0;
    background: #fff;
    border: 1px solid #e7e7e7;
    height: 30px;
    padding: 0 10px;
    color: #333;

    option {
      &:disabled {
        font-weight: bold;
        color: #222;
      }
    }
  }

  .bottom-table {
    padding: 0;
    margin: 0;
    .btn-interact-table {
      padding: 0px 5px;
      border-radius: 50%;
      font-size: 14px;
      margin-top: -5px;
    }
  }
}

.copy-section {
  p {
    color: #333;
  }
}