body {
  font-family: 'Poppins', sans-serif !important;
   // background: url("/img/pattern2.png") bottom center;
   // background-repeat: repeat-x;
   // background: #e8e8e8;
   background: #053d4e !important;
   background-size: cover;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   border-width: 10px;
   overflow-y: hidden;
   border-style: solid;
   border-image: linear-gradient(to bottom, #d92555, #e53942) 1 1 100%;
   border-bottom: none;

   .painel-login {
    background-color: #fff;
    width: 100%;
    padding: 25px 40px 25px;
    margin-top: 100px;
    margin-bottom: 25px;

    .painel-erro {
      padding: 10px;
      background: linear-gradient(#d92555, #e53942);
      margin: 25px 0 10px;
      color: white;

      .fa {
        color: white;
      }
    }
    .logo {
      width: 50%;
      margin: 5px auto 25px;
      background: linear-gradient(#d92555, #e53942);
      padding: 5px 15px;
      border-radius: 10px;
    }
    label {
      color: #444;
    }

    input {
      width: 100%;
      background-color: #e8e8e8;
      border: none;
      height: 40px;
      color: #333;
      line-height: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      padding: 0 10px;

      &:first-child {
        margin-top: 20px;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      margin: 15px auto 0;
      width: 60px;
      border-radius: 50% !important;
      height: 60px;
      background: linear-gradient(#d92555, #e53942);
      font-size: 20px;
      border: none;
      text-transform: uppercase;
      display: block;
    }

  }

  p {
    text-align: center;

  }
}