.mochila {
    border-left: 5px solid #053d4e;
    padding: 10px;
    background-color: #efefef;
    color: #333;
    margin-bottom: 30px;

    img {
        width: 20%;
        display: inline-block;
        margin-right: 3%;

        &.desativada {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }

    span {
        background-color: white;
        padding: 2px 4px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
    }

    .desc {
        width: 75%;
        display: inline-block;
        vertical-align: middle;
        
    }

    h5 {
        font-weight: bold;
    }
}